@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<main class="px-3">
    <h1>Электронный журнал</h1>
    <p class="lead">Это простое web-приложение для демонстрации работы Entity Framework Core в связке с ASP.Net Razor Pages.</p>
</main>
