@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="row mb-auto">
    <div class="col-md-auto">
        <div class="row no-gutters border mb-4">
            <div class="col p-flex d-flex flex-column">
                <p style="font-size: 22px" class="card-text mb-auto">
                    <span style="font-size: 30px">Электронный журнал</span>  - это простое web-приложение для демонстрации работы Entity Framework Core в связке с ASP.Net Razor Pages.
                </p>
            </div>
        </div>
    </div>
</div>
