@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Данный сайт используется как электронный журнал студентов 3 курса факультета Информационной безопасности (БИ).</p>
